autopep8==1.4.3
bcrypt==3.1.4
decorator==4.3.0
distributed==1.25.1
flake8==3.6.0
Flask==1.0.2
Flask-Cors==3.0.7
Flask-Session==0.3.1
Flask-SocketIO==3.1.0
Flask-WTF==0.14.2
gunicorn==19.9.0
html5lib==1.0.1
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
Jinja2==2.10
jsonschema==2.6.0
passlib==1.7.1
path.py==11.5.0
pathlib2==2.3.3
pep8==1.7.1
psycopg2==2.7.5
psycopg2-binary==2.7.5
pycrypto==2.6.1
pycurl==7.43.0.2
pyflakes==2.0.0
pyOpenSSL==18.0.0
pyparsing==2.3.0
PySocks==1.6.8
python-socketio==2.1.1
requests==2.21.0
SQLAlchemy==1.2.15
urllib3==1.24.1
Werkzeug==0.14.1
WTForms==2.2.1
