{% extends 'layout.html' %}
{% block title %}
    Login
{% endblock %}

{% block body %}
  <h1>Login</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class=flashes>
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
  <form method="POST" action="">
    <div class="form-group">
        <input class="form-control" name="username" type="text" placeholder="username">
    <div>
    <p></p>
    <div class="form-group">
        <input class="form-control" name="password" type="password" placeholder="password">
    <div>
    <p></p>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
  <p> Click to go <a href="{{ url_for('index') }}">home</a></p>
  <p> Click to register <a href="{{ url_for('register') }}"> register</a></p>

{% endblock %}



